.navbar {
  background-color: #776cc9;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.nav-link {
 font-size: 14px;
 padding: 6px 10px;
}

.nav-link:hover {
  background-color: #5f205a;
}

.nav-link.active {
  font-weight: bold;
  background-color: #ee5bac;
}

.btn-logout {
  background-color: #d9534f;
  color: white;
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 5px;
}

.btn-logout:hover {
  background-color: #c9302c;
}