<div  class="stats-wrapper">
<app-platform-stats></app-platform-stats>
</div>

<div class="search-bar">
    <form (ngSubmit)="searchJobs()">

        <label>
            Keyword
            <input [(ngModel)]="keyword" name="keyword" />
          </label>
      
        <label>
          Category
          <input [(ngModel)]="category" name="category" />
        </label>
      
        <label>
          Min Budget
          <input [(ngModel)]="minBudget" name="minBudget" />
        </label>
      
        <button type="submit">Search</button>
        <button type="button" (click)="resetSearch()">Reset</button>
      
      </form>
</div>

<div class="page-container">

    <div class="job-list">
    
        <div *ngFor="let job of jobs" class="job-card">

            <span class="status-badge" [ngClass]="job.status">
              {{ job.status.replace('_', ' ') }}
            </span>
      
              <div class="card-content">
                  <h4>{{ job.title }}</h4>

          
                  <p class="meta">Category: {{ job.category }}</p>
          
                  <p class="budget">Budget: {{ job.budget }}</p>
          
                  <p class="description">{{ job.description }}</p>
          
                  <small class="card-author">
                  Posted by: {{ job.owner?.username || 'Unknwn user'}}
                  </small>
              </div>
      
              <div class="card-actions">

                  <button class="btn btn-view" [routerLink]="['/jobs', job.id]">View</button>
              
      
              </div>

        </div>

    </div>

</div>
