:host {
  display: block;
  background: linear-gradient(135deg, rgb(211, 146, 61), rgb(136, 54, 22));
  min-height: 100vh;
  padding: 40px 20px;
}

h2{
  text-align:center;
  margin-bottom:20px;
  color:#111827;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: #000000;
  text-decoration: underline;
}

/* job-list */
.job-list{
  display:grid;
  grid-template-columns:repeat(auto-fill, minmax(200px,1fr));
  gap: 16px;
}

/* CARD */
.job-card{
  background:#fff;
  padding:8px;
  border-radius:16px;
  box-shadow:0 8px 20px rgba(0,0,0,0.05);
  border:1px solid rgba(0,0,0,0.05);
  transition:0.2s;

  &:hover{
    transform:translateY(-4px);
    box-shadow:0 12px 30px rgba(0,0,0,0.08);
  }
}

/* HEADER */
.card-header{
  display:flex;
  margin-bottom: 4px;
  justify-content:space-between;
  align-items:center;
}

.card-header h4{
  margin:0;
  font-size: 14px;
  font-weight:600;
}

/* DESCRIPTION */
.description{
  display: flex;
  overflow: hidden;
  font-size:13px;
  color:#374151;
  margin:6px 0;
}

.meta{
  display:flex;
  gap:8px;
  font-size:12px;
  color:#6b7280;
}

.card-actions{
  margin-top:15px;
  display:flex;
  gap:8px;
}

/* BUTTONS */
.btn{
  padding:6px 12px;
  border-radius:20px;
  font-size:12px;
  border:none;
  cursor:pointer;
}

.btn-view{ background:#6366f1; color:white; }
.btn-edit{ background:#0ea5e9; color:white; }
.btn-complete{ background:#22c55e; color:white; }
.btn-delete{ background:#ef4444; color:white; }

/* STATUS */
.status-badge{
  font-size:11px;
  padding:4px 10px;
  border-radius:20px;
  font-weight:500;
}

.status-badge.open { background:#e0f2fe; color:#0284c7; }
.status-badge.in_progress { background:#fff3cd; color:#856404; }
.status-badge.completed { background:#d4edda; color:#155724; }
.status-badge.pending { background:#fef3c7; color:#92400e; }